* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/*Header section*/

.header {
    background-color: #1F2937;
    padding: 10px 100px 100px 100px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;

    margin-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

li, .hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-subtext {
    margin-bottom: 10px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 750px;
}

.image-placeholder {
    flex-basis: 400px;
    background-color: grey;
    color: #F9FAF8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    flex-basis: 400px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sign-up {
    background-color: #3882F6;
    padding: 5px 25px 5px 25px;
    border: 0;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
}

/*Info section*/

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 25px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.box {
    width: 0;
    height: 0;
    padding: 60px;
    border: medium solid #3882F6;
    border-radius: 10px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-box p {
    width: 120px;
    text-align: center;
}

.info-box-container {
    display: flex;
    gap: 40px;
}

/*Quote section*/

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px 100px 200px;
}

.author {
    align-self: flex-end;
    font-weight: 900;
}

.quote-subcontainer {
    display: flex;
    flex-direction: column;
    width: 750px;
}

.cta-section {
    padding: 50px 100px 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px 25px 50px;
    border-radius: 5px;
    width: 750px;
}

.cta-container button {
    border:solid 2px #E5E7EB;
    border-radius: 7px;
}

.cta-p {
    font-weight: 900;
}