* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 10px 100px 100px 100px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;

    margin-bottom: 100px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

li, .hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-subtext {
    margin-bottom: 10px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 750px;
}

.image-placeholder {
    flex-basis: 400px;
    background-color: grey;
    color: #F9FAF8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-left {
    flex-basis: 400px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sign-up-top {
    background-color: #3882F6;
    padding: 5px 25px 5px 25px;
    border: 0;
    border-radius: 5px;
    color: #F9FAF8;
    font-weight: bold;
}