* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 0 100px 0 100px;
    margin: 0;

    flex-grow: 1;
    flex-basis: auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

li, .hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
}